@import "../../variables.css";

.menuDivider {
	&.pointing.vertical {
		margin-bottom: var(--menu-vertical-pointing-bottom-margin);
	}

	&.pills {
		&.vertical {
			margin: 0 0 var(--menu-vertical-pills-bottom-margin) 0;
		}

		&:not(.vertical) {
			margin: 0 var(--menu-horizontal-pills-right-margin) 0 0;
		}
	}

	&.hasContent {
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}

	&:not(.hasContent) {
		&.vertical {
			border-top: 1px solid var(--theme-default-border);

			&.primary {
				border-top: 1px solid var(--menu-primary-border-color);
			}

			&.inSubmenu {
				margin: 8px 0;
			}
		}

		&:not(.vertical) {
			border-left: 1px solid var(--theme-default-border);
			align-self: stretch;

			&.primary {
				border-left: 1px solid var(--menu-primary-border-color);
			}
		}
	}
}

