@import "~@k2-packages/default-theme"

.fireBrigade 
  flex 1
  position relative
  display: flex;
  flex-flow: column nowrap;
  min-height: 0;

.map 
  height 100%
  width 100%

.search 
  width 300px


.background 
  position absolute
  top 0
  bottom 0
  right 0
  left 0


.slots
  display flex
  flex-flow: row wrap
  min-height: 0;
  
.slot
  z-index 0
  outline: 1px solid cyan
  flex-basis: 50%;
  display flex
  flex-flow: column
  padding: 8px
  overflow: hidden
  height: 100%


.right
  align-items: flex-end

.left
  align-items: flex-start