.root {
  display: flex;
  flex-flow: row nowrap;
  cursor: pointer;
  padding: var(--unit);
  align-items: center;

  &.disabled {
    cursor: not-allowed;
    .label {
      color: var(--faint-strong);
    }
    .toggle {
      background-color: var(--faint-weak);

      &:after {
        background-color: var(--faint-weak-up);
        box-shadow: unset;
      }
    }
  }
  :focus ~ .toggle {
    box-shadow: 0px 0px 0px 2px var(--complimentary-strong-down);
  }
}

.toggle {
  height: calc(var(--double-unit) + 4px);
  width: calc(calc(var(--double-unit) * 2) + 4px);
  margin: 0 0.5em 0 0;
  border-radius: 20px;
  cursor: pointer;
  background-color: var(--faint-strong);

  &:after {
    background-color: var(--base-weak);
    content: '';
    display: block;
    width: calc(var(--double-unit) - 2px);
    height: calc(var(--double-unit) - 2px);
    border-radius: 0.6em;
    position: relative;
    right: 0;
    margin: 3px;
    transition: right ease-out 0.2s;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  }
}

.checked {
  .toggle {
    background-color: var(--base-strong);
    &:after {
      position: relative;
      right: calc(var(--double-unit) * -1);
    }
  }
}

/* I am not use hidden true since it's broke auto focus in firefox */
.hidden {
  position: absolute;
  opacity: 0;
}
