.navigation {
  display: flex;
  flex-flow: rorw wrap;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border-bottom: 1px solid var(--primary-faint-border-regular);
}


.tabBtn {
  display: inline-flex;
  padding: var(--unit);
  cursor: pointer;
  color: var(--primary-text-regular);
  &.current {
    color: var(--primary-text-active);
    .name {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: var(--primary-border-active);
        bottom: calc(-1 * var(--unit) - 1px);
        left: 0;
      }
    }
  }
  &:hover {
    color: var(--primary-text-active);
  }
}

.input {
  position: absolute;
  opacity: 0;
  &:focus + .tabBtn {
    box-shadow: 0 0 0 2px var(--primary-focus-outline-regular);
  }
}
