.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: var(--modal, 2);
}

.modalContent {
  position: fixed;
  pointer-events: auto;
}

@media screen and (width >= 960px) {
  .modalContent {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
  }
}

@media screen and (width < 960px) {
  .modalContent {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
