# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio
*.iml
.idea
.vscode/settings.json

# Directory-based project format:
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

*.cache
package-lock.json

# Builds
k2-dev/**/tsclib
k2-dev/**/*.tsbuildinfo
k2-dev/**/dist
k2-packages/**/tsclib
k2-packages/**/*.tsbuildinfo
k2-packages/**/dist
templates/**/tsclib
templates/**/*.tsbuildinfo
templates/**/dist
.plop/links/

# Logs
*.log

# Test
k2-packages/coverage
coverage/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
tsconfig.tsbuildinfo
