# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio
*.iml
.idea
.vscode/settings.json

# Directory-based project format:
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

*.cache
package-lock.json

# Builds
k2-dev/**/tsclib
k2-dev/**/*.tsbuildinfo
k2-dev/**/dist
k2-packages/**/tsclib
k2-packages/**/*.tsbuildinfo
k2-packages/**/dist
templates/**/tsclib
templates/**/*.tsbuildinfo
templates/**/dist

# Logs
*.log

# Test
k2-packages/coverage

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
tsconfig.tsbuildinfo
coverage/clover.xml
coverage/coverage-final.json
coverage/lcov.info
coverage/lcov-report/base.css
coverage/lcov-report/block-navigation.js
coverage/lcov-report/favicon.png
coverage/lcov-report/index.html
coverage/lcov-report/prettify.css
coverage/lcov-report/prettify.js
coverage/lcov-report/sort-arrow-sprite.png
coverage/lcov-report/sorter.js
coverage/lcov-report/client/src/index.html
coverage/lcov-report/client/src/index.ts.html
coverage/lcov-report/module/src/index.html
coverage/lcov-report/module/src/index.tsx.html
coverage/lcov-report/ui-kit/src/Card/index.html
coverage/lcov-report/ui-kit/src/Card/index.tsx.html
coverage/lcov-report/ui-kit/src/DropDown/HighlightSpan.tsx.html
coverage/lcov-report/ui-kit/src/DropDown/index.html
coverage/lcov-report/ui-kit/src/DropDown/index.tsx.html
coverage/lcov-report/ui-kit/src/DropDown/SelectableElement.tsx.html
coverage/lcov-report/ui-kit/src/Input/index.html
coverage/lcov-report/ui-kit/src/Input/index.tsx.html
coverage/base.css
coverage/block-navigation.js
coverage/favicon.png
coverage/index.html
coverage/prettify.css
coverage/prettify.js
coverage/sort-arrow-sprite.png
coverage/sorter.js
coverage/client/src/index.html
coverage/client/src/index.ts.html
coverage/module/src/index.html
coverage/module/src/index.tsx.html
coverage/ui-kit/src/Card/index.html
coverage/ui-kit/src/Card/index.tsx.html
coverage/ui-kit/src/DropDown/HighlightSpan.tsx.html
coverage/ui-kit/src/DropDown/index.html
coverage/ui-kit/src/DropDown/index.tsx.html
coverage/ui-kit/src/DropDown/SelectableElement.tsx.html
coverage/ui-kit/src/Input/index.html
coverage/ui-kit/src/Input/index.tsx.html
