@import "~@k2-packages/default-theme"

.selectable
  position: relative
  
.option 
  display: flex
  padding-right: 2em
  position relative
  &:hover 
    background-color primary-color
    color primary-text-color

.selected 
  background-color secondary-color
  color secondary-text-color

.highlight 
  background-color hsla(61, 100%, 50%, 0.4)

.radio
  position: absolute
  opacity: 0
  &:focus ~ .option:after
    height: 100%
    width: 4px;
    background-color: primary-color
    content: ''
    position: absolute
    display: block
    top: 0;
    left: 0

.badge
  right: unit
  position absolute

.bind
  border-radius: 4px
  width: 1em
  height: 1em
  border: 1px solid rgba(255, 255, 255, 0.25)
  background-color: #E6E6E6
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25), inset 0px 0px 1px rgba(255, 255, 255, 0.25)
  display: inline-flex
  align-items: center
  justify-content: center
  font-size: .8em
  padding: .8em .5em .7em
  color: #6f6f6f