.line {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: var(--base-weak);
  flex: 1;
  &:hover:not(.disabled):not(.selected) {
    box-shadow: inset 0px 0px 0px 100px var(--accent-weak);
  }
  &.selected {
    background-color: var(--back-faint-weak-up);
    color: var(--accent-strong);
    .option > span {
      color: var(--accent-strong) !important;
    }
  }
}

.option {
  cursor: pointer;
  text-align: center;
  padding: var(--unit) calc(var(--unit) * 2);
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 0.95em;
  input {
    visibility: hidden;
    position: absolute;
  }
}

.disabled {
  opacity: 0.2;
  background-color: rgba(0, 0, 0, 0.2);
}

.disabled .option {
  cursor: default;
}

.small .option {
  padding: calc(var(--unit) / 2) var(--unit);
}
