.selector {
  background-color: #f5f5f5;
  display: inline-flex;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.selector.vertical {
  flex-flow: column nowrap;
  padding-top: var(--unit);
  padding-bottom: var(--unit);
}

.selector.horizontal {
  flex-flow: row nowrap;
  padding-right: var(--unit);
  padding-left: var(--unit);
}

.center {
  justify-content: center;
  align-items: center;
}
