.menuItem {
	display: block;
	user-select: none;
	cursor: pointer;
	color: inherit;
	font: inherit;
	text-decoration: initial;
	padding: 5px 20px;

	&.selected {
		background: hsl(211, 81%, 36%);
		color: white;
		outline: none;
	}

	&.disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}

.menuItems {
	display: block;
	white-space: nowrap;
	border: solid 1px hsla(0, 0%, 0%, 0.25);
	background: hsla(0, 100%, 100%, 0.99);
	outline: none;
	padding: 1rem 0;
	font-size: 85%;
}
