.button {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: var(--unit);
  cursor: pointer;
  border-radius: var(--half-border-radius);
}

.primary {
  background-color: var(--base-weak);
  color: var(--back-faint-weak-up);
  box-shadow: var(--elevation-1);
  &:hover:not(:disabled) {
    box-shadow: var(--elevation-2);
  }
  &:disabled {
    cursor: default;
    background-color: var(--faint-weak-down);
    color: var(--faint-strong-down);
  }
  &:active:not(:disabled),
  &.active {
    background-color: var(--back-faint-weak-up);
    color: var(--accent-strong);
  }
  &:focus {
    box-shadow: var(--elevation-1), 0px 0px 0px 2px var(--accent-strong-down);
  }
  &:hover:focus {
    box-shadow: var(--elevation-2), 0px 0px 0px 2px var(--accent-strong-down);
  }
}

.invert-outline {
  background-color: transparent;
  color: var(--faint-weak-down);
  &:hover:not(:disabled) {
    background-color: rgba(0, 0, 0, 0.4);
  }
  &:disabled {
    cursor: default;
    /* background-color: var(--invert-outline-surface-disabled); as we don't have it anywhere */
    color: var(--faint-strong-down);
  }
  &:active:not(:disabled),
  &.active {
    background-color: var(--back-faint-weak-up);
    color: var(--accent-strong);
  }
  &:focus {
    box-shadow: 0px 0px 0px 2px var(--accent-strong-down);
  }
}
