.rootGrid {
  display: inline-grid;
  grid-template-columns: auto calc(var(--unit) * 25);
  grid-template-rows: calc(var(--unit) * 25) auto;
}

.legendSlot {
  margin-bottom: auto;
  margin-left: auto;
}

.valueCell {
  text-align: center;
  position: relative;
  vertical-align: central;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  cursor: pointer;
}

.valueCell:hover {
  box-shadow: 0px 0px 0px 2px #000 inset;
}

.valueFill {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #f00;
  z-index: -1;
}

.axisTable {
  border-spacing: 0;
  border-collapse: collapse;
  border: none;
}

.row .axisRecord {
  writing-mode: vertical-rl;
  width: 65px;
  display: flex;
  align-items: center;
}

.column .axisRecord {
  height: 65px;
}

.axisRecord {
  padding: var(--unit);
}

.cellWrapper {
  vertical-align: top;
  text-align: center;
  margin: 0;
  padding: 0;
}

.selected {
  background-color: #008000;
  color: #fff;
}

.highlight {
  background-color: #00f;
  color: #fff;
}

.selectedRow .valueFill, .selectedCol .valueFill {
  background-color: #00f;
}