:root {
  --selection-border-style: 1px solid #a29e9e;
}

.axisRecord {
  padding: var(--unit);
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  font-stretch: condensed;
  white-space: nowrap;
}

.row.selected {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  border-top: var(--selection-border-style);
  border-bottom: var(--selection-border-style);
  border-right: var(--selection-border-style);
}

.column.selected {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  border-right: var(--selection-border-style);
  border-left: var(--selection-border-style);
  border-top: var(--selection-border-style);
}

.hovered {
  background-color: #f9f9f9;
}

.verticalText {
  writing-mode: vertical-rl;
}

.row {
  height: var(--cell-side);
  grid-column-start: -1;
  align-items: flex-start;
  border: 1px solid transparent;
}

.column {
  width: var(--cell-side);
  align-items: flex-end;
  border: 1px solid transparent;
}

.qualityLabel {
  font-size: 0.8em;
  color: #777;
}
