@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

:root {
  /* Breakpoints */
  --main-bg-color: brown;
  --xs: 0px;
  --sm: 600px;
  --md: 960px;
  --lg: 1280px;
  --xl: 1920px;

  /* Palette */
  --base-strong: #0A1622;
  --accent-strong: #26ABFF;
  --critic-strong: #EC0000;
  --faint-strong: #B3B5BA;
  --faint-text: #9DA2A7;
  --faint-line: #848B90;


  /* Typography */
  --font: 14px 'IBM Plex Sans', sans-serif;
  --font-xs: 12px 'IBM Plex Sans', sans-serif;

  /* Spacing */
  --unit: 8px;
  --half-unit: 4px;
  --double-unit: 16px;
  --border-radius: 4px;

  /* Animations */
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --ease-out: cubic-bezier(0.0, 0, 0.2, 1);
  --ease-in: cubic-bezier(0.4, 0, 1, 1);

  /* zIndex */
  --modal: 1000;
  --tooltip: 1100;
}