@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap');

:root {
  /* Breakpoints */
  --xs: 0;
  --sm: 600px;
  --md: 960px;
  --lg: 1280px;
  --xl: 1920px;

  /* Theme color variables */
  --black: #000;
  --white: #fff;
  --neutral-neutral-10: #fff;
  --neutral-neutral-20: #f0f1f2;
  --neutral-neutral-30: #e3e5e7;
  --neutral-neutral-40: #d7dadc;
  --neutral-neutral-50: #afb4ba;
  --neutral-neutral-60: #8c949b;
  --neutral-neutral-70: #646f78;
  --neutral-neutral-80: #505c67;
  --neutral-neutral-90: #32404d;
  --neutral-neutral-100: #051626;

  /* New Palette */
  --primary-surface-regular: var(--neutral-neutral-10);
  --primary-icon-regular: var(--neutral-neutral-100);
  --primary-surface-disabled: var(--neutral-neutral-20);
  --primary-focus-outline-regular: #2cb3ff;
  --primary-border-active: #0c9bed;
  --primary-border-regular: var(--neutral-neutral-90);
  --primary-text-regular: var(--neutral-neutral-100);
  --primary-placeholder-regular: var(--neutral-neutral-30);
  --primary-surface-active: var(--neutral-neutral-100);
  --primary-icon-active: #0c9bed;
  --primary-text-active: #0c9bed;
  --primary-icon-disabled: var(--neutral-neutral-50);
  --primary-text-disabled: var(--neutral-neutral-70);
  --primary-border-disabled: var(--neutral-neutral-50);
  --primary-faint-border-regular: var(--neutral-neutral-30);
  --primary-outline-surface-regular: transparent;
  --primary-surface-hover: #e5f6ff;
  --invert-icon-regular: #0c9bed;
  --invert-text-regular: var(--neutral-neutral-20);
  --invert-surface-regular: var(--neutral-neutral-100);
  --invert-outline-surface-regular: transparent;
  --invert-outline-text-regular: var(--neutral-neutral-20);
  --invert-outline-surface-hover: rgba(0, 0, 0, 0.4);
  --invert-outline-text-hover: var(--neutral-neutral-10);
  --invert-outline-icon-regular: var(--neutral-neutral-20);
  --invert-outline-icon-hover: var(--neutral-neutral-10);
  --invert-outline-icon-active: #0c9bed;
  --invert-outline-text-active: #0c9bed;
  --invert-outline-focus-outline-regular: #2cb3ff;
  --invert-outline-text-disabled: var(--neutral-neutral-50);
  --invert-outline-icon-disabled: var(--neutral-neutral-50);
  --invert-outline-surface-active: var(--neutral-neutral-100);
  --danger-border-regular: #ec0000;
  --danger-text-regular: #ec0000;
  --danger-icon-regular: #ec0000;

  /* Typography */
  --font-family: 'IBM Plex Sans', sans-serif;
  --font: 14px var(--font-family);
  --font-xs: 12px var(--font-family);

  /* Spacing */
  --unit: 8px;
  --half-unit: 4px;
  --double-unit: 16px;
  --border-radius: 4px;
  --half-border-radius: 2px;

  /* Animations */
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-in: cubic-bezier(0.4, 0, 1, 1);

  /* zIndex */
  --modal: 1000;
  --tooltip: 1100;

  /* Shadows */
  --elevation-1:
    0 1px 2px rgba(0, 0, 0, 0.3),
    0 16px 24px rgba(0, 0, 0, 0.06),
    0 2px 6px rgba(0, 0, 0, 0.04),
    0 0 1px rgba(0, 0, 0, 0.04);
  --elevation-2:
    0 4px 4px rgba(0, 0, 0, 0.15),
    0 1px 2px rgba(0, 0, 0, 0.3),
    0 16px 24px rgba(0, 0, 0, 0.06),
    0 2px 6px rgba(0, 0, 0, 0.04),
    0 0 1px rgba(0, 0, 0, 0.04);
}
