@custom-media --mobile (max-width: 960px);
/* var(--md) */

.tooltipContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--tooltip);
  display: flex;
  flex-direction: row-reverse;
}

.tooltipContainer.hoverTooltip {
  pointer-events: none;

  & .popup {
    pointer-events: visible;
  }
}

.contentBody {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: var(--half-unit) var(--unit) 0 var(--unit);
  max-width: 268px;
  max-height: 200px;
  background-color: var(--back-faint-weak-down);
  color: var(--base-weak);
  border-radius: var(--border-radius);
  overflow-y: auto;
}

.bodyBottom {
  width: 100%;
  height: var(--half-unit);
}

.unset {
  display: none;
}

.arrow {
  position: absolute;
  left: var(--tooltip-arrox-x-position);
  top: var(--tooltip-arrow-y-position);
  padding: 5px;
}

@media (--mobile) {
  .arrow {
    display: none;
  }
}

.arrow-top {
  bottom: -10px;
}

.arrow-bottom {
  top: -10px;
}

.arrow-left {
  right: -10px;
}

.arrow-right {
  left: -10px;
}

.arrowInner {
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background-color: var(--back-faint-weak-down);
}

.tooltipContent {
  top: var(--tooltip-y-position);
  left: var(--tooltip-x-position);
  position: var(--tooltip-placement);
  width: max-content;
}

.closeIcon {
  position: sticky;
  top: 0;
  cursor: pointer;
  height: 16px;
  display: flex;
  color: var(--faint-strong);
}

.closeIcon svg {
  width: var(--double-unit);
  height: var(--double-unit);
}

@media (--mobile) {
  .closeIcon {
    cursor: pointer;
    height: 10px;
    display: flex;
    color: var(--base-strong);
  }
}

@media (--mobile) {
  .tooltipContent {
    position: absolute;
    display: flex;
    z-index: var(--tooltip);
    left: 0;
    bottom: calc(0px - var(--half-unit));
    width: 100%;
    padding: var(--double-unit);
    max-height: 90%;
    max-width: 100%;
    background-color: var(--base-weak);
    color: var(--base-strong);
    font-weight: 400;
    font-size: 16px;
    border-radius: var(--unit) var(--unit) 0 0;
    top: unset;
  }
}
