@custom-media --mobile (max-width: 960px);
/* var(--md) */

.tooltipContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--tooltip);
  display: flex;
  flex-direction: row-reverse;
}

.tooltipContainer.hoverTooltip {
  pointer-events: none;

  & .popup {
    pointer-events: visible;
  }
}

.unset {
  display: none;
}

.arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background-color: var(--back-faint-weak-down);
  left: var(--tooltip-arrox-x-position);
  top: var(--tooltip-arrow-y-position);
}

@media (--mobile) {
  .arrow {
    display: none;
  }
}

.arrow-top {
  bottom: -5px;
}

.arrow-bottom {
  top: -5px;
}

.arrow-left {
  right: -5px;
}

.arrow-right {
  left: -5px;
}
