.grid
  margin: 16px
  display: grid
  grid-gap: 32px 16px;
  grid-template-columns: repeat(auto-fill, 300px);
  h4
    margin: 0
    margin-left: 8px
    font-size: 12px

.cell
  display: flex
  flex-flow: row nowrap
  align-items: center