.appHeader {
  display: flex;
  align-items: center;
  background-color: var(--back-faint-weak-up);
  color: var(--faint-weak-down);
  font-weight: 500;
  letter-spacing: 0.03em;
  padding: 2px var(--unit);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 16px 24px rgba(0, 0, 0, 0.06),
    0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.title {
  padding: var(--unit);
}

.chatIcon {
  margin-right: var(--unit)
}

.logo {
  padding: var(--unit) 0;
  display: inline-flex;
}

.children {
  flex: 1;
}

.afterChatContent {

}
