.root {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: hsla(0, 0%, 0%, 0.67);
  padding: 1em;
  min-width: 1316px;
}

.cell {
  padding: 8px;
  margin: 6px 4px;
  width: 60px;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.targetCaption {
  display: flex;
  align-items: center;
  min-width: 50px;
  justify-content: right;
  font-weight: bold;
  padding-right: 10px;
}

.categoryCaption {
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.degree {
  display: flex;

  & > div {
    padding: 8px;
    margin: 0 4px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
}

.colorValue,
.emptyColorValue {
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 0.76em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 60px;
}

.colorValue {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

.emptyColorValue {
  background-color: transparent;
  color: transparent;
}

.palette {
  display: flex;
  flex-flow: column nowrap;
}

.rowPadding {
  display: flex;
  margin-bottom: 10px;
  margin-right: 10px;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}

.color {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
  background: white;
  background: var(--current-color);
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.15);

    &::before {
      content: attr(data-name);
      text-transform: lowercase;
      display: inline-flex;
      color: white;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 4px;
      z-index: 300;
      position: absolute;
      border-radius: 4px;
      top: calc(100% + 10px);
      transform: translateX(-50%);
      left: 50%;
      white-space: nowrap;
    }
  }

  &:active {
    box-shadow: 0 0 0 2px rgba(0, 255, 255, 0.3);
  }
}
