.select {
  position: relative;
  font-family: var(--font-family);
  font-weight: 400;

  & .searchBox {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
  }

  & .searchInput {
    border: none;
    background: none;
    margin: 0;
    padding: 2px var(--unit);
    min-width: 60px;
    width: 100%;
    &:focus {
      outline: none;
    }
  }

  & .menu {
    position: absolute;
    z-index: 1;
    right: 0;
    list-style: none;
    display: block;
    white-space: nowrap;
    background: hsla(0, 100%, 100%, 0.99);
    outline: none;
    padding: var(--half-unit) 0;
    border-radius: var(--border-radius-unit);
    box-shadow: var(--elevation-3);
    margin: 2px 0 0 2px;
  }

  &.open {
    & .menu {
      min-width: 100%;
    }
  }
}
