.legendTitle {
  font-size: 0.9em;
  margin-bottom: 12px;
}

.grid {
  display: inline-grid;
  grid-auto-flow: dense;
}

.cell {
  padding: 6px;
  font-size: 0.7em;
  line-height: 130%;
}

.colorCell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  padding: 10px;
  color: #555;
}

.yStepsCell {
  position: relative;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: auto;
}

.yStepsCell:before {
  border-bottom: 1px solid var(--primary-faint-border-regular);
  content: '';
  width: 16px;
  height: 1px;
  position: absolute;
  bottom: -1px;
  right: 0;
}

.xStepsCell {
  display: flex;
  position: relative;
  width: auto;
}

.xStepsCell:before {
  border-left: 1px solid #aaa;
  content: '';
  height: 16px;
  width: 1px;
  position: absolute;
  top: 0;
  left: 0;
}

.arrowX,
.arrowY {
  background-color: #aaa;
}

.arrowY {
  width: 1px;
  height: 100%;
  grid-area: 1 / 2 / -2 / 2;
  position: relative;
}

.arrowX {
  height: 1px;
  grid-area: -2 / 2 / -2 / -1;
  position: relative;
}

.axisLabelX,
.axisLabelY {
  font-size: 0.8em;
  color: #999;
}

.axisLabelX {
  grid-area: -1 / 2 / -1 / -1;
}

.axisLabelY {
  grid-area: 1 / 1 / -1 / 1;
  writing-mode: tb-rl;
  transform: rotate(180deg);
  position: relative;
  left: -8px;
}

.arrowHeadX,
.arrowHeadY {
  color: #999;
  position: relative;
}

.arrowHeadX {
  top: -7px;
  right: calc(-100% + 4px);
}

.arrowHeadY {
  top: -9px;
  left: -5px;
}

.arrowHeadY_angle0 {
  left: -6px !important;
}
