.radio {
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--double-unit);
  height: var(--double-unit);
  border-radius: 50%;
  outline: none;
  margin: 0;
  cursor: pointer;
  margin-right: var(--unit);
  border: 1px solid var(--base-strong-down);
  box-sizing: content-box;
  flex-shrink: 0;

  &:checked {
    border-color: var(--base-strong);

    &:after {
      position: absolute;
      background-color: var(--base-strong);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      content: '';
    }
  }

  &:hover {
    border-color: var(--base-strong);
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px var(--complimentary-strong-down);
  }

  &:disabled {
    border-color: var(--faint-strong);
    cursor: not-allowed;
    & ~ .label {
      color: var(--faint-strong);
    }
    &:checked {
      &:after {
        background-color: var(--faint-strong);
      }
    }
  }
}
