.radio {
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--double-unit);
  height: var(--double-unit);
  border-radius: 50%;
  outline: none;
  margin: 0;
  cursor: pointer;
  margin-right: var(--unit);
  box-shadow: 0px 0px 0px 1px var(--base-strong-down);
  flex-shrink: 0;
  &:checked {
    &:after {
      position: absolute;
      background-color: var(--base-strong-down);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      content: '';
    }
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px var(--complimentary-strong-down);
  }

  &:disabled {
    box-shadow: 0px 0px 0px 1px var(--faint-strong-down);
    cursor: not-allowed;
    & ~ .label {
      color: var(--icon-base-strong);
    }
    &:checked {
      &:after {
        background-color: var(--faint-strong-down);
      }
    }
  }
}
