.slider {
  position: relative;
  min-width: 100px;
  flex: 1;
  cursor: pointer;
}

.bar {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  position: relative;
}

.bar:after {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.steps {
  display: flex;
  flex-flow: row nowrap;
  height: 10px;
  width: 100%;
  overflow: hidden;
}

.step:hover {
  box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.3);
}

.stickDock {
  position: absolute;
  transform: translate(-50%, -25%);
  top: 0;
}

.stick {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  background-color: #fff;
  top: 0;
  cursor: pointer;
}

.stick:hover {
  border-color: var(--color-accent);
}