.root {
	display: flex;
	flex-direction: column;
	min-width: 160px;

	& .label {
		font-size: 14px;
		font-weight: 500;
		padding-bottom: var(--unit);
	}

	& .icons {
		color: var(--faint-strong);
		display: flex;
		flex-flow: row nowrap;
		align-content: center;
		align-items: center;
	}

	& .openToggle {
		position: absolute;
		right: 0;
		height: 100%;
		display: flex;
		align-items: center;
		cursor: pointer;
		color: var(--faint-strong);
		padding: 0 var(--unit);
	}

	& .placeholder {
		color: var(--base-strong);
		background: transparent;
		pointer-events: none;
		font-size: 14px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		margin-right: 20px;

		&.no-value {
			color: var(--text-faint-strong);
		}
	}

	& .selectBox {
		display: flex;
		flex-flow: row nowrap;
		border-radius: var(--border-radius);
		box-shadow: 0 0 0 1px var(--faint-strong-down);
		border: none;
		color: var(--base-strong);
		position: relative;
		background-color: var(--base-weak);
		padding: var(--unit);
		align-items: center;
		cursor: pointer;

		&:active {
			box-shadow: 0 0 0 2px var(--complimentary-strong-down);
		}
	}
}
