@import "~@k2-packages/default-theme"

.line 
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: center
  background-color: white
  &:hover
    background-color: rgba(primary-color, .2)
  &.selected
    background-color: secondary-color
    color: secondary-text-color

.option
  cursor pointer
  text-align: center
  padding: unit (unit * 2)
  display: flex
  align-items: center
  flex: 1
  input
    visibility: hidden
    position absolute
  &:hover
    background-color: rgba(0,0,0,0.05)
  
.disabled
  opacity: .2
  background-color: rgba(0,0,0,0.2)
  .option
    cursor: default
  
.small
  .option
    padding: (unit/2) unit

