@import "~@k2-packages/default-theme"

.wrapper
  display: inline-flex;
  flex-flow: column nowrap;
  box-shadow: shadow-2
  border-radius: border-radius
  border: input-border

.selectedBox
  display: flex;
  flex-flow: row nowrap
  align-items: center
  cursor: pointer
  &:hover
    background-color: rgba(0,0,0,0.05)
    .btn
      background-color: rgba(0,0,0,0.05)
  &.open
    background-color: rgba(0,0,0,0.05)
    
.btn
  display: inline-block
  width: 20px
  height: 20px
  border-radius: 50%
  margin: 0 unit

.open
  .btn
    transform: rotate(180deg)
  .selectedBox
    background-color: rgba(0,0,0,0.05)

.disabled
  opacity: .5

.selected
  padding: unit (unit * 2)

.small
  .selected
    padding: (unit / 2) unit
