@import "~@k2-packages/default-theme"

.selector
  display: inline-flex;
  position relative;
  overflow hidden;
  &.vertical
    background-color: white;
    flex-flow: column nowrap;
    padding-top: unit
    padding-bottom: unit

  &.horizontal
    background-color: white;
    flex-flow: row nowrap;
    padding-right: unit
    padding-left: unit
