:root {
	--colors-black: #000;
	--colors-white: #fff;

	--colors-grey-0: #FFFFFF;
	--colors-grey-25: #FCFCFB;
	--colors-grey-50: #FAF9F8;
	--colors-grey-100: #F3F2F1;
	--colors-grey-150: #EDEBE9;
	--colors-grey-200: #E1DFDD;
	--colors-grey-250: #C8C6C4;
	--colors-grey-300: #B3B0AD;
	--colors-grey-350: #979593;
	--colors-grey-400: #8A8886;
	--colors-grey-440: #666666;
	--colors-grey-450: #605E5C;
	--colors-grey-500: #484644;
	--colors-grey-550: #3B3A39;
	--colors-grey-600: #323131;
	--colors-grey-650: #2D2C2C;
	--colors-grey-700: #292828;
	--colors-grey-750: #252423;
	--colors-grey-800: #201F1F;
	--colors-grey-850: #1B1A1A;
	--colors-grey-900: #11100F;
	--colors-grey-1000: #000000;

	--colors-primary-50: #F4F4FC;
	--colors-primary-100: #E5E5F1;
	--colors-primary-200: #E2E2F6;
	--colors-primary-300: #BDBDE6;
	--colors-primary-400: #A6A7DC;
	--colors-primary-450: #9EA2FF;
	--colors-primary-500: #8B8CC7;
	--colors-primary-600: #6264A7;
	--colors-primary-700: #585A96;
	--colors-primary-800: #464775;
	--colors-primary-900: #33344A;
	--colors-primary-1000: #373644;
}
