.checkbox {
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--double-unit);
  height: var(--double-unit);
  border-radius: var(--quarter-border-radius);
  outline: none;
  margin: 0;
  cursor: pointer;
  margin-right: var(--unit);
  border: 1px solid var(--base-strong-down);
  flex-shrink: 0;

  &:hover {
    border-color: var(--base-strong);
  }

  &:checked {
    border-color: var(--base-strong);
    background-color: var(--base-strong);
    & ~ .icon {
      visibility: visible;
    }
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px var(--complimentary-strong-down);
  }

  &:disabled {
    cursor: not-allowed;
    border-color: var(--faint-strong);
    & ~ .label {
      color: var(--faint-strong);
    }
    & ~ .icon {
      cursor: not-allowed;
    }
    &:checked {
      background-color: var(--faint-strong);
    }
  }
}

.icon {
  position: absolute;
  color: var(--base-weak);
  visibility: hidden;
  svg {
    display: block;

    & path {
      stroke-width: 1px;
    }
  }
}
