.card{
  height: 100%;
}

.headerContent {
  padding: var(--unit) var(--double-unit);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: 1px solid var(--faint-weak);
  align-items: flex-start;
}

.hoverable :hover{
  cursor: pointer;
}

.headerTitle {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  gap: var(--unit);
}

.close {
  margin-left: 1em;
  border-radius: var(--border-radius);
  svg {
    display: block;
  }
}

.contentContainer{
  height: 100%;
  overflow: auto;
}

.panelIcon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--base-weak);

  &:hover {
    background-color: var(--base-weak-up);
  }
}

@media screen and (max-width: 960px) {
  .modalCover {
    height: 100%;
  }
  .modalCover,
  .modalCover * {
    z-index: var(--modal);
  }
  .modalCover > section {
    left: 0;
  }
}
