@import "~@k2-packages/default-theme/index.scss";

@function outline-shadow($color) {
  @return 0px 0px 0px 2px rgba($color, 0.3);
}

.root {
  input {
    border: none;
    flex: 1;
    background-color: transparent;
    outline: none;
  }
}

.icons {
  color: red;
}

.inputBox {
  display: flex;
  flex-flow: row nowrap;
  border: $input-border;
  border-radius: $border-radius;
  padding: $unit;
  color: $default-text-color;
}

// States

.focus {
  .inputBox {
    box-shadow: outline-shadow($primary-color)
  }
}

.disabled {
  .inputBox {
    background-color: $grey-10;
  }
  input {
    cursor: default;
  }
}

.successes {
  .inputBox {
    border-color: $success-color;
  }

  &.focus {
    .inputBox {
      box-shadow: outline-shadow($success-color)
    }
  }

}

.error {
  .inputBox {
    border-color: $error-color;
  }

  &.focus {
    .inputBox {
      box-shadow: outline-shadow($error-color)
    }
  }

  .message {
    color: $error-color;
    font-size: $unit * 1.5;
    font-weight: bold;
  }
}

