.header {
  padding: var(--double-unit);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-faint-border-regular);
  align-items: flex-start;
}

.close {
  margin-left: 1em;
  color: var(--primary-icon-regular);
  cursor: pointer;
  border-radius: var(--border-radius);
  svg {
    display: block; 
  }
}

.panelIcon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #fff;

  &:hover {
     background-color: #f7f7f7;
  }
}

