.header {
  padding: var(--double-unit);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-faint-border-regular);
  align-items: flex-start;
}

.close {
  margin-left: 1em;
  color: var(--primary-icon-regular);
  cursor: pointer;
  border-radius: var(--border-radius);
  svg {
    display: block; 
  }
}