.Map
  height 100%
  width 100%

.btns
  display: flex;
  flex-flow: row nowrap
  button 
    padding: 8px 16px
    background-color: silver
    cursor: pointer
    font-size: 12px
    &:hover
      background-color: gray
      color: white
