.root input {
  flex: 1;
  padding: 0;
  font-size: 1rem;
  min-width: 0;
  border: none;
  background-color: transparent;

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: transparent;
  }
}

.password input {
  padding-right: 36px !important;
}

.inputBox {
  display: flex;
  flex-flow: row nowrap;
  border-radius: var(--border-radius);
  box-shadow: 0 0 0 1px var(--base-strong-down);
  border: none;
  color: var(--back-faint-weak-up);
  position: relative;
  background-color: var(--base-weak);
}

.message {
  font: var(--font-xs);
  padding: var(--unit) 0;
  border-radius: var(--border-radius);
}

.icons {
  color: var(--primary-icon-regular);
  display: flex;
  flex-flow: row nowrap;
  padding: var(--unit);
  padding-right: 0;
  align-content: center;
  align-items: center;
}

.focus {
  & .inputBox {
    box-shadow: 0 0 0 2px var(--accent-strong-down);
  }
}

.error {
  & .inputBox {
    box-shadow: 0 0 0 2px var(--error-strong);
  }

  & .message {
    color: var(--error-strong);
  }
}

.disabled {
  & input {
    cursor: default;
  }

  & .inputBox {
    background-color: var(--faint-weak-down);
    color: var(--icon-base-strong);
    box-shadow: 0 0 0 1px var(--faint-strong-down);
  }

  & .icons {
    color: var(--faint-strong-down);
  }
}

.topPlaceholder {
  position: absolute;
  top: -10px;
  left: 8px;
  background: #fff;
  padding: 0 6px;
}

.errorMessage {
  margin-top: 2px;
}

.passwordVisibility {
  position: absolute;
  right: 12px;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
