.root {
  display: flex;
  flex-flow: row nowrap;
  cursor: pointer;
  padding: var(--unit);
  align-items: center;
  &.disabled {
    cursor: not-allowed;
    .label {
      color: var(--primary-text-disabled)
    }
    .toggle {
      background-color: var(--primary-surface-regular);
      box-shadow: 0px 0px 0px 1px var(--primary-border-disabled);
      &:after {
        box-shadow: 0px 0px 0px 1px var(--primary-border-disabled);
      }
    }
    &.checked {
      .toggle {
        background-color: var(--primary-border-disabled);
        color: var(--primary-text-disabled);
      }
      .label {
        color: var(--primary-text-disabled);
      }
    }
  }
  :focus ~ .toggle {
    box-shadow: 0px 0px 0px 2px var(--primary-focus-outline-regular);
  }
}

.toggle {
  height: var(--double-unit);
  width: calc(var(--double-unit) * 2);
  margin: 0 0.5em 0 0;
  box-shadow: 0px 0px 0px 1px var(--primary-border-regular);
  border-radius: 0.6em;
  cursor: pointer;
  background-color: var(--primary-surface-disabled);

  &:after {
    background-color: var(--primary-surface-regular);
    content: '';
    display: block;
    width: calc(var(--double-unit) - 6px);
    height: calc(var(--double-unit) - 6px);
    border-radius: 0.6em;
    position: relative;
    right: 0;
    margin: 3px;
    transition: right ease 0.2s;
    box-shadow: 0px 0px 0px 1px var(--primary-border-regular);
  }
}

.checked {
  .toggle {
    background-color: var(--primary-border-regular);
    &:after {
      position: relative;
      right: calc(var(--double-unit) * -1);
    }
  }
}

/* I am not use hidden true since it's broke auto focus in firefox */
.hidden {
  position: absolute;
  opacity: 0;
}
