.checkbox {
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--double-unit);
  height: var(--double-unit);
  border-radius: var(--border-radius);
  outline: none;
  margin: 0;
  cursor: pointer;
  margin-right: var(--unit);
  box-shadow: 0px 0px 0px 1px var(--base-strong-down);
  flex-shrink: 0;
  &:checked {
    background-color: var(--base-strong-down);
    & ~ .icon {
      visibility: visible;
    }
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px var(--accent-strong-down);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--faint-weak-down);
    color: var(--icon-base-strong);
    box-shadow: 0px 0px 0px 1px var(--faint-strong-down);
    & ~ .label {
      color: var(--icon-base-strong);
    }
    &:checked {
      background-color: var(--faint-strong-down);
    }
  }
}

.icon {
  position: absolute;
  color: var(--base-weak);
  visibility: hidden;
  svg {
    display: block;
  }
}
