.root {
  display: inline-flex;
  align-items: center;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  cursor: pointer;
  padding: var(--half-unit);
}

.checkbox {
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--double-unit);
  height: var(--double-unit);
  border-radius: var(--border-radius);
  outline: none;
  margin: 0;
  cursor: pointer;
  margin-right: var(--unit);
  outline: 1px solid var(--base-strong);
  &:checked {
    background-color: var(--base-strong);
    & ~ .icon {
      visibility: visible;
    }
  }

  &:focus {
    outline: 2px solid var(--accent-strong);
  }

  &:disabled {
    outline: 1px solid var(--faint-line);
    cursor: not-allowed;
    & ~ .label {
      color: var(--faint-line)
    }
    &:checked {
      background-color: var(--faint-line);
    }
  }
}

.label {
  user-select: none;
}

.icon {
  position: absolute;
  color: white;
  visibility: hidden;
  svg {
    display: block;
  }
}