@import '../utils/css/theme.css';

:root {
	--menu-default-border-active: var(--theme-default-border-2);
	--menu-default-background-active: var(--theme-default-background-active-1);
	--menu-default-background-focus: var(--theme-default-background-focus-1);
	--menu-default-foreground-disabled: var(--theme-default-foreground-disabled-1);

	--menu-primary-foreground-hover: var(--colors-white);
	--menu-primary-background-hover: var(--colors-primary-300);
	--menu-primary-foreground-active: var(--colors-white);
	--menu-primary-border-active: var(--colors-primary-600);
	--menu-primary-background-active: var(--colors-primary-500);
	--menu-primary-foreground-focus: var(--colors-white);
	--menu-primary-background-focus: var(--colors-primary-300);
	--menu-primary-foreground-disabled: var(--theme-primary-foreground-disabled-1);

	--menu-color: var(--colors-grey-500);
	--menu-color-active: var(--colors-black);
	--menu-color-hover: inherit;

	--menu-border-color-focus: var(--colors-white);

	--menu-outline-color-focus: var(--colors-black);

	--menu-icon-size: 16px;

	--menu-icon-only-border-radius: var(--global-border-radius);
	--menu-icon-only-color-active: var(--colors-primary-600);
	--menu-icon-only-color-focus: var(--colors-primary-600);
	--menu-icon-only-color-hover: var(--colors-primary-600);

	--menu-underlined-border-color: var(--colors-grey-200);

	--menu-line-height-base: var(--global-line-height-medium);
	--menu-horizontal-padding: 14px 18px;

	--menu-vertical-background-color: var(--theme-default-background);
	--menu-vertical-item-padding: 7px 12px;
	--menu-vertical-box-shadow: var(--global-shadow-level-2);
	--menu-vertical-divider-margin: 8px 0;
	--menu-vertical-item-border-width: 2px;
	--menu-vertical-item-border-color: transparent;
	--menu-vertical-pointing-border-color: var(--theme-primary-border-active);
	--menu-vertical-border-color: var(--theme-default-border);

	--menu-active-underlined-primary-color: var(--colors-primary-600);
	--menu-active-underlined-border-bottom-color: var(--colors-black);

	--menu-pointing-indicator-background-color: var(--colors-primary-600);

	--menu-underlined-bottom-border-width: 2px;
	--menu-underlined-color-hover: inherit;
	--menu-primary-border-color: var(--theme-default-border-2);
	--menu-primary-wrapper-color-focus: var(--colors-black);
	--menu-primary-wrapper-color: var(--colors-black);

	--menu-primary-wrapper-background-color-focus: var(--colors-primary-500);

	--menu-underlined-wrapper-color-hover: var(--colors-black);
	--menu-underlined-wrapper-background-hover: transparent;

	--menu-divider-height: 1px;
	--menu-border-width: 1px;
	--menu-menu-zindex: var(--global-zindex-overlay);
	--menu-beak-zindex: var(--global-zindex-menu-item);

	--menu-wrapper-color-active: var(--colors-grey-500);
	--menu-wrapper-color-focus: var(--colors-grey-500);
	--menu-primary-wrapper-color-hover: var(--colors-black);
	--menu-wrapper-background-color-focus: var(--colors-grey-150);

	--menu-indicator-color: var(--colors-grey-500);
	--menu-active-indicator-color: var(--colors-grey-750);
	--menu-active-primary-indicator-color: var(--colors-grey-750);
	--menu-active-primary-vertical-indicator-color: var(--colors-black);
	--menu-primary-indicator-color-hover: var(--colors-black);
	--menu-indicator-color-hover: var(--colors-grey-500);

	--menu-vertical-pills-bottom-margin: 5px;
	--menu-horizontal-pills-right-margin: 8px;
	--menu-vertical-pointing-bottom-margin: 12px;
}

