@import 'vis-timeline/styles/vis-timeline-graph2d.min.css';
.vis-timeline {
  border: none;
  --clippath: url(#marker);
  --clippath-focus: url(#marker-border);
}

.vis-content {
  border-bottom: 1px solid var(--faint-strong);
}

.timeline-item {
  background-color: var(--faint-strong);
  width: 100%;
  height: 100%;
}

.vis-item {
  background-color: transparent;
}

.vis-item.vis-dot {
  border: none;
}

.vis-item.vis-line {
  border: none;
  border-color: black;
  width: 1px;
  background-color: var(--faint-strong);
}

.vis-item.vis-line.vis-selected {
  background-color: var(--back-accent-strong);
}

.vis-item.vis-box {
  width: 14px;
  height: 21px;
  clip-path: var(--clippath);
  background-size: contain;
  background-position: center;
  border-style: none;
}

.vis-item.vis-box.vis-selected {
  border: none;
  background-color: transparent;
  outline: none;
  background-size: contain;
  background-position: center;
}

.vis-item.vis-box.vis-selected:before {
  clip-path: var(--clippath-focus);
  background-color: var(--back-accent-strong);
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.vis-item.vis-range {
  border-radius: 0px;
  border: 1px solid white;
}

.vis-item.vis-range.vis-selected {
  outline: 1px solid var(--back-accent-strong);
  border: 1px solid var(--back-accent-strong);
  background-color: var(--faint-strong);
}

.vis-item .vis-item-content {
  padding: 0px;
  width: 100%;
  height: 100%;
}

.vis-item.vis-range .vis-item-content {
  padding: 0px;
  width: 100%;
  height: 100%;
  display: block;
}

.vis-item.vis-range .vis-item-content > div {
  min-height: 14px;
}

.vis-cluster > div,
.vis-item.vis-range.vis-selected.vis-cluster > div {
  background-color: var(--faint-strong-up);
}

.vis-time-axis .vis-text {
  font-size: 11px;
  line-height: 14px;
}

.vis-panel.vis-bottom,
.vis-panel.vis-center,
.vis-panel.vis-left,
.vis-panel.vis-right,
.vis-panel.vis-top {
  border: none;
}
