.menu {
	cursor: auto;
	position: absolute;
	left: 0;
	display: none;
	outline: none;
	top: 100%;
	min-width: -webkit-max-content;
	min-width: -moz-max-content;
	min-width: max-content;
	margin: 0;
	padding: 0 0;
	background: #FFFFFF;
	font-size: 1em;
	text-shadow: none;
	text-align: left;
	-webkit-box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	border: 1px solid rgba(34, 36, 38, 0.15);
	border-radius: 0.28571429rem;
	-webkit-transition: opacity 0.1s ease;
	transition: opacity 0.1s ease;
	z-index: 11;
	will-change: transform, opacity;

	& > * {
		white-space: nowrap;
	}

	&.left {
		left: auto;
		right: 100%;
		margin: 0 -0.5em 0 0 !important;
		border-radius: 0.28571429rem !important;
	}

	&.scrolling {
		overflow-x: hidden;
		overflow-y: auto;
		position: static;
		border: none;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		border-radius: 0 !important;
		margin: 0 !important;
		min-width: 100% !important;
		width: auto !important;
		border-top: 1px solid rgba(34, 36, 38, 0.15);
	}

	&.transition {}
}

[class*='dropdown'] > .menu.left {
	left: auto !important;
	right: 0 !important;
}

[class*='dropdown'] > .menu.left .menu,
[class*='dropdown'] .menu .left.menu {
	left: auto;
	right: 100%;
	margin: 0 -0.5em 0 0 !important;
	border-radius: 0.28571429rem !important;
}

[class*='dropdown'] > .menu.right .menu,
[class*='dropdown'] .menu .right.menu {
	left: 100% !important;
	right: auto !important;
	border-radius: 0.28571429rem !important;
}

[class*='dropdown'] > .visible .scrolling {
	display: block;
}

/* Scrollbar in IE */
@media all and (-ms-high-contrast: none) {
	[class*='dropdown'] .scrolling.menu {
		min-width: calc(100% -  17px );
	}
}
@media only screen and (max-width: 767px) {
	[class*='dropdown'] .scrolling.menu {
		max-height: 10.28571429rem;
	}
}
@media only screen and (min-width: 768px) {
	[class*='dropdown'] .scrolling.menu {
		max-height: 15.42857143rem;
	}
}
@media only screen and (min-width: 992px) {
	[class*='dropdown'] .scrolling.menu {
		max-height: 20.57142857rem;
	}
}
@media only screen and (min-width: 1920px) {
	[class*='dropdown'] .scrolling.menu {
		max-height: 20.57142857rem;
	}
}
