.card {
  flex-flow: column nowrap;
  border-radius: var(--border-radius);
  background-color: var(--base-weak);
  position: relative;
  box-shadow: var(--elevation-1);
}

.inline {
  display: inline-flex;
}

.block {
  display: flex;
}