@import "../../variables.css";

.menuItemIcon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: var(--menu-icon-size);
	height: var(--menu-icon-size);

	& > :first-child {
		height: 100%;
		width: 100%;
		& svg {
			height: 100%;
			width: 100%;
		}
	}

	&.hasContent {
		margin-right: 10px;
	}

	&:not(.notIconOnly) {
		margin-top: 0;
		margin-bottom: -8px;
		vertical-align: top;
	}
}
