@import "variables.css";

.img {
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	height: auto;

	&.fluid {
		width: 100%;
	}

	&.circular {
		border-radius: var(--image-circular-radius);
	}

	&.avatar {
		width: var(--image-avatar-size);
		border-radius: var(--image-circular-radius);

		&.fluid {
			width: 100%;
		}
	}
}
