.img {
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;

	&.fluid {
		width: 100%;
	}

	&.avatar {
		border-radius: var(--half-unit);
	}

	&.circular {
		border-radius: 50%;
	}
}
