.root {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  font-weight: 500;
  padding-bottom: var(--unit);
}

.groupContainer {
  display: flex;
  align-items: stretch;
  box-shadow: inset 0 0 0 1px var(--faint-strong-down);
  border-radius: var(--half-unit);

  & .button button {
    border-top: 1px solid var(--faint-strong-down);
    border-bottom: 1px solid var(--faint-strong-down);
    border-radius: 0;
  }
  & .button.activeBtn button {
    border: 0;
    height: 100%;
  }

  & .button:first-child button {
    border-radius: var(--half-unit) 0 0 var(--half-unit);
  }

  & .button:first-child:not(.activeBtn) button {
    border-left: 1px solid var(--faint-strong-down);
  }

  & .button:last-child button {
    border-radius: 0 var(--half-unit) var(--half-unit) 0;
  }

  & .button:last-child:not(.activeBtn) button {
    border-right: 1px solid var(--faint-strong-down);
  }
}
